<!DOCTYPE html>
<html>
  <head>
    <title>이미지 업로드</title>
  </head>
  <body>
    <h2>이미지 업로드</h2>
      <form action="{% url 'upload_image' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="image" accept="image/*" />

      <br /><br />
      <input type="submit" value="업로드" />
    </form>

    <div id="container">
        <canvas id="canvas"></canvas>
        <div id="result"></div>
    </div>

    <h2>업로드된 이미지</h2>
    <!-- 업로드된 이미지를 보여주기 위한 이미지 태그 -->
    <img id="uploadedImage" src="#" alt="업로드된 이미지" style="max-width: 500px; max-height: 500px; display: none;" data-input="image" />
    <button onclick="uploadImage()">업로드</button>

    <script>
      // 파일 입력 필드의 변경 이벤트를 감지하여 이미지를 미리보기로 보여주는 함수
      function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();

        reader.onload = function () {
          var image = document.getElementById('uploadedImage');
          image.src = reader.result;
          image.style.display = 'block';
        };

        reader.readAsDataURL(input.files[0]);
      }

      // 파일 입력 필드에 변경 이벤트 리스너를 추가
      var fileInput = document.querySelector('input[type="file"]');
      fileInput.addEventListener('change', previewImage);
    </script>
    
    <script>
      const canvas = document.getElementById('canvas');
      const ctx = canvas.getContext('2d');
      const resultDiv = document.getElementById('result');
      const img = document.getElementById('uploadedImage');
      var img_name = '';
      let stream;

      var width = 360;
      var height = 540;

      const constraints = {
          width: 240,
          height: 320,
      }
      const Styles = {
          Video: { width: "100%", height: "100%", background: 'rgba(245, 240, 215, 0.5)' },
          None: { display: 'none' },
      }

      navigator.mediaDevices.getUserMedia({ audio: false, video: constraints })
          .then(streamObj => {
              stream = streamObj;
              const video = document.createElement('video');
              video.srcObject = stream;
              video.play();
              tick(video);
          })
          .catch(err => console.error(err));

          function tick(video) {
            if (video.readyState === video.HAVE_ENOUGH_DATA) {
              var imgUrl = '';
          
              canvas.width = video.videoWidth;
              canvas.height = video.videoHeight;
          
              ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
              const imageData = ctx.getImageData(0, 0, canvas.width, canvas.height);
              const code = jsQR(imageData.data, imageData.width, imageData.height);
          
              if (code || imgUrl !== '') {
                console.log('Decoded Data:', code.data);
          
                // 포토이즘
                if (true) {
                  const hostname = new URL(code.data).hostname;
                  const urlParams = new URLSearchParams(new URL(code.data).search);
                  const id = urlParams.get('id');
          
                  console.log('url :', code.data);
                  console.log('host :', hostname);
                  console.log('id :', id);
                  img_name = String(id) + '.jpg';
          
                  imgUrl = `http://${hostname}/take/${id}.jpg`;
                }
          
                console.log('str :', imgUrl);
                var image = document.getElementById('uploadedImage');
                image.src = imgUrl;
                stream.getTracks().forEach(track => track.stop()); // 카메라 스트림 중지
                canvas.style.display = 'none';
                image.style.display = 'block';
          
                fetch(imgUrl)
                  .then(response => response.blob())
                  .then(blob => {
                    const file = new File([blob], img_name, { type: 'image/jpeg' });
                    console.log('File:', file);
          
                    var formData = new FormData();
                    formData.append('image', file);
                    formData.append('url', document.getElementById('uploadedImage').src);
                    formData.append('csrfmiddlewaretoken', '{% csrf_token %}'); // csrf_token 추가
          
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '{% url 'upload_image' %}', true);
                    xhr.onload = function () {
                      if (xhr.status === 200) {
                        // 요청이 성공적으로 처리된 경우
                        console.log('이미지 업로드 성공');
                      } else {
                        // 요청이 실패한 경우
                        console.error('이미지 업로드 실패');
                      }
                    };
                    xhr.send(formData);
                  })
                  .catch(error => {
                    console.error('Error:', error);
                  });
              }
            }
            requestAnimationFrame(() => tick(video));
          }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.js"></script>
  </body>
</html>