<!DOCTYPE html>
<html lang="ko">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Stay 19.5 | Infomation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{% static 'jquery-3.7.0.min.js' %}?after"></script>                                 <!-- 자바스크립트 추가!!! -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}?after">
</head>
<body>
    <header>
        <nav>
            {% include "bar.html" %}
        </nav>
    </header>

    <div class="ccontainer">
        <div class="profile-container">
            <img src="{{ thumbnail_image }}" alt="프로필 사진" class="profile-image">                   <!--프로필 사진 카카오톡 프사로 바꾸기-->
            <div class="name-box">
                <h4>{{ nickname }}</h4>                                                               <!--유저 네임 바꾸기-->
            </div>
            <a class="logout-button" href="/login">로그아웃</a>                                         <!--로그아웃 링크-->
        </div>
    </div>

    <footer>
        <nav class="navbar">
            <a class="nav-link" href="/main">
                <img src="{% static 'images/navigation/home.png' %}" alt="Main">
                메인
            </a>
            <a class="nav-link" href="/map">
                <img src="{% static 'images/navigation/marker.png' %}" alt="Map">
                지도
            </a>
            <a class="nav-link" href="/upload">
                <img src="{% static 'images/navigation/camera.png' %}" alt="Upload">
                업로드
            </a>
            <a class="nav-link" href="/gallery">
                <img src="{% static 'images/navigation/copy-image.png' %}" alt="Gallery">
                갤러리
            </a>
            <a class="nav-link nav-color" href="/info">
                <img src="{% static 'images/navigation/user (1).png' %}" alt="My">
                MY
            </a>
        </nav>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>