<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Stay 19.5 | Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>네컷 사진 서비스를 한 번에</h1>
    <div class="description">
        <h2 class="usage">STAY 19.5 사용법</h2>
    </div>
    <div class="card">
        <h3 class="card-title">지도 기능</h3>
        <p class="card-description">카카오 맵을 통해 가까운 네 컷 사진관을 찾아보세요.</p>
    </div>
    <div class="card">
        <h3 class="card-title">업로드 기능</h3>
        <p class="card-description">웹 사이트 내 카메라 기능을 사용하여 사진을 바로 저장하고 업로드해보세요.</p>
    </div>
    <div class="card">
        <h3 class="card-title">갤러리 기능</h3>
        <p class="card-description">저장한 사진을 한 눈에 모아보세요. AI 기능으로 인물별로 분류해보세요.</p>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>