@font-face {
    font-family: 'aGoEunGeulCciM';
    src: url("./fonts/aGoEunGeulCciM.woff") format('woff');
}

@font-face {
    font-family: 'NanumGothic';
    src: url("./fonts/NanumGothic.woff") format('woff');
}

body {
    background-color: #FFFFFF;
    font-family: 'NanumGothic', sans-serif;
    min-height: 100vh;
}

h1 {
    color: #A6A6A6;
    font-size: 20px;
    font-family: 'aGoEunGeulCciM';
    margin-top: 10px;
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh-120px;
}

.usage {
    margin-left: 10px;
}

/* ===========================  login css  ============================== */

.logo {
    width: 250px;
    height: 290px;
    object-fit: cover;
}

.subtitle {
    color: black;
    text-align: center;
    font-family: 'aGoEunGeulCciM', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.title {
    color: black;
    text-align: center;
    font-family: 'aGoEunGeulCciM', sans-serif;
    font-size: 40px;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    height: 40px;
    background-color: #FBE000;
    border: none;
    border-radius: 30px;
}

.login-button-text {
    font-family: 'NanumGothic', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    line-height: 1;
    padding: 0 20px;
}

/* ===========================  main css  ================================ */

.description {
    background-color: #DF938D;
    color: #FFFFFF;
    font-family: 'aGoEunGeulCciM', sans-serif;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    border: none;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
}

.card {
    background-color: #D9D9D9;
    border-radius: 30px;
    padding: 10px;
    margin-bottom: 10px;
    margin: 10px;
    height: 100%;
    box-sizing: border-box;
}

.card-title {
    color: #DF938D;
    font-family: 'NanumGothic', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-left: 10px;
}

.card-description {
    color: #000000;
    font-family: 'NanumGothic', sans-serif;
    font-size: 14px;
    margin-left: 10px;
}

/* ============================  navigation css  =============================== */

.navbar_front {
    background-image: linear-gradient(to top, #E1BEBB, #DF938D);
    height: 60px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.nav-logo {
    height: 50px;
    display: block;
    margin: 0 auto;
}

.dotted-line-left {
    border-top: 4px dotted white;
    flex-grow: 1;
    margin-right: 10px;
}

.dotted-line-right {
    border-top: 4px dotted white;
    flex-grow: 1;
    margin-left: 10px;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: cnter;
    align-items: center;
    background-color: white;
    padding-bottom: 60px;
    font-family: 'NanumGothic', sans-serif;
}

.nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    color: black;
}

.nav-link.nav-color {
    color: #DF938D;
}

.nav-link img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

/* =============================  info css  ================================ */


.profile-container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top : 70px;
    margin-bottom: 20px;
}

.name-box {
    background-color: #D9D9D9;
    padding: 20px 10px 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-box {
    background-color: #D9D9D9;
    padding: 20px 10px 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-button {
    background-color: #DF938D;
    color: white;
    font-family: 'aGoEunGeulCciM', sans-serif;
    border: none;
    padding: 10px 10px 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =================================  지도 css  ======================== */

.location {
    background-color: #D9D9D9;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 14px;

}

.map_container {
    text-align: center;
    height:100%;
    position:relative;
}

.map_wrap {
    height:80vh;
}

/* ==================================  업로드css  ======================== */


/* ==================================  갤러리css  ======================== */
.gallery-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top : 20px;
}

.btn-gallery {
    background-color: #DF938D;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.text-right {
  display: flex;
  justify-content: flex-end;
}

.gallery-images {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: calc(100vh - 210px);
}

.col-12.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-height: calc(100vh - 210px);
}

.gallery-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.photo-image {
    width: 100%;
    height: auto;
    margin-top: 15px;
    object-fit: cover;
}

.ai-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}

/* ==================================  스크롤 바  ======================== */

.gallery-images::-webkit-scrollbar {
  width: 10px; /* 스크롤바의 너비 */
}

.gallery-images::-webkit-scrollbar-track {
  background-color: #D9D9D9; /* 스크롤바 트랙의 배경색 */
  border-radius: 8px;
}

.gallery-images::-webkit-scrollbar-thumb {
  background-color: #DF938D; /* 스크롤바 썸의 배경색 */
  border-radius: 8px;
}