{% load static %}

<nav class="navbar">
    <a class="nav-link" href="#">
        <img src="{% static 'images/navigation/home (1).png' %}" alt="Main">
        메인
    </a>
    <a class="nav-link" href="#">
        <img src="{% static 'images/navigation/marker.png' %}" alt="Map">
        지도
    </a>
    <a class="nav-link" href="#">
        <img src="{% static 'images/navigation/camera.png' %}" alt="Upload">
        업로드
    </a>
    <a class="nav-link" href="#">
        <img src="{% static 'images/navigation/copy-image.png' %}" alt="Gallery">
        갤러리
    </a>
    <a class="nav-link" href="#">
        <img src="{% static 'images/navigation/user.png' %}" alt="My">
        MY
    </a>
</nav>